<!-- Inclusion  de la "head" (ouverture  du tag body , ...)  -->
{{  partial "head.html" . }}
<!-- Inclusion  du "header" (navbar , ...)  -->
{{  partial "header.html" . }}
<!-- Inclusion  du "menu" (navbar , ...)  -->
{{  partial "menu.html" . }}

<h1>Events List</h1>

<div style="text-align: center;">

  {{ range .Pages }}

  <a href="{{ .Permalink }}"></a>

  <div class="card" style="width:400px; display: inline-block; margin-left: 3%; margin-right: 3%; margin-bottom: 3%;">
    <img class="img-fluid" src="http://localhost:1313/{{ .Params.Photos }}" style="width: 400px; height: 400px">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;"> {{ .Title }}</h4>
      <h5 class="card-title2" style="text-align: center;"> {{ dateFormat "Monday, Jan 2, 2006" .Params.When }}</h5>
      <p class="card-title2" style="text-align: center;"> {{ .Params.Label }}</p>
      <div class="seeprofil" style="text-align: center;"><a href="{{ .Permalink }}" class="btn btn-primary" style="text-align: center; margin-top: 10px;">See Event</a></div>
    </div>
  </div>

  {{ end }}

</div>

{{  partial "footer.html" . }}