body {font-family: Arial, Helvetica, sans-serif;}
form {background-color: white; border: 3px solid #1F284D}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #BF4D4D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  margin-top: 5%;
}

.avatar{
  display: flex;
  margin: auto;
  width: 55%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.card{
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
}

.picture_size{
  width: 20px;
  height: 20px;
}

.text{
  font-family: 'Anton', sans-serif, 30px;

}
