<h1>The Town Hall</h1>

<div class="presentation-hall">

<img style="margin-bottom: 5%;" src="http://localhost:1313/HDV (2).jpg">

<h3>Descriptif</h3>

<span>Depuis 1357, l’Hôtel de Ville de Paris est le siège de la municipalité parisienne. Le bâtiment actuel, de style néo renaissance, a été reconstruit par les architectes Théodore Ballu et Edouard Deperthes à l'emplacement de l'ancien Hôtel de Ville, incendié pendant le Commune de Paris en 1871. Il est possible de visiter la Mairie, lieu de pouvoir et de prestige. Des visites guidées, sur réservation, sont organisées par le Service du Protocole. Le visiteur découvre notamment la Salle des Fêtes, conçue comme une réplique de la galerie des glaces de Versailles. De grandes expositions gratuites sont également organisées et rencontrent un grand succès.</span>

<h3 style="margin-top: 10px;">Style architectural</h3>

<span>Neo renaissance</span></div>